# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Hardy Jones
email = hardy@noredink.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	default = simple
[help]
	autocorrect = 30
[github]
	user = joneshf
