# This is Git's per-user configuration file.
[commit]
gpgsign = true
[filter "lfs"]
clean = git-lfs clean -- %f
process = git-lfs filter-process
required = true
smudge = git-lfs smudge -- %f
[github]
user = joneshf
[help]
autocorrect = 30
[push]
default = simple
[user]
email = hardy@noredink.com
name = Hardy Jones
signingkey = 53FEB62789F62A82